@import url("style.css");

body {
    background-color: #bdbdbd;
    color: #ffffff;
}

.min-h-screen {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

/*-- LAYAOUT --*/

.bd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    max-width: 1700px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    align-items: center;
    gap: 2rem;
}

.w-64 {
    width: 250px;
    height: 200px;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px) {
    body {
        margin: 3rem 0 0 0;
    }

    .title-shop {
        margin: 0 5rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}